<!-- <div [ngStyle]="{ 'margin-left': getStyle() }" class="manage-container">
  <ul>
    &emsp;
    <li class="inline-attach">
      Manager
      <button (click)="addManager()" class="button-container">+Manager</button>
      <button (click)="addDeveloper()" class="button-container">
        +Developer
      </button>
      <button (click)="addTester()" class="button-container">+QA Tester</button>
    </li>
  </ul>
</div>
<div class="autocomplete-container">
  <div *ngFor="let item of _item.m; let i = index">
    <app-manager [left]="i + 1"></app-manager>
  </div>
  <ul>
    <li *ngFor="let item of devAndTesterArray; let i = index">
      {{ item.role }}
    </li>
  </ul>
</div> -->

<div *ngFor="let item of _item; let i = index">
  <ul [ngStyle]="{ 'margin-left': getStyle(item) }">
    <li>
      <button (click)="addManager(item, i)" class="button-container">
        +Manager
      </button>
      <button (click)="addDeveloper(item, i)" class="button-container">
        +Developer
      </button>
      <button (click)="addTester(item, i)" class="button-container">
        +QA Tester
      </button>
    </li>
  </ul>
  <ul [ngStyle]="{ 'margin-left': getStyle(item) }">
    <li *ngFor="let itemData of item.d">developer</li>
    <li *ngFor="let itemData of item.q">QA</li>
  </ul>
  <app-manager [item]="item.m"></app-manager>
</div>
